/*font-family: 'PT Sans', sans-serif;*/
/*Common CSS*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#8e8e8e ;
}
/*header start*/
header{
	padding: 25px 0;
}
.cust_navbutton{
    box-shadow: 0 0 0 2px !important;
}
.menu{}
.logo{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:30px ;
	color: #333333;
	text-transform: uppercase;
}
.logo:hover{
	color: #333333;
}
.menu ul{}
.menu ul li{}
.menu ul li a{
	margin-right: 22px;
	font-family: 'Lato', sans-serif;
	font-weight:700 ;
	font-size: 16px;
	color: #8e8e8e;
	text-transform: uppercase;
}
.menu ul li a:hover{
             color: #333333;
}
.btn_ser{
	color:#8e8e8e;
}
.btn_ser:hover{
	color: #333333;
}
.btn_ser::after{
	display: none;
}
.btn_ser:focus{
	outline: 0;
    box-shadow: none;
}
.cust_drop{}
.cust_drop[data-bs-popper] {
    left: -295px;
    margin-top:32px;
}
.cust_drop {
    min-width: 350px;
    padding: 20px 10px;
    border-radius: 0;
}
.input_ser{
	width: 100%;
	height: 45px;
}
.input_ser:focus {
    color: #212529;
    background-color: #fff;
    border-color:#8e8e8e;
    outline: 0;
    box-shadow: none;
    }
.btn_ser2{
	width: 100%;
	height: 45px;
	border: none;
	background: transparent;
}
/*header ends*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slide_content{
	margin: 210px 0;
	color: #ffffff;
}
.slide_content h2{
	font-family:'Lato', sans-serif;
	font-size: 50px;
	font-weight: 700;
}
.slide_content p{
	padding: 45px 0;
}
.slide_content button{
	background-color: #ffffff;
	padding: 10px 20px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: ;
	font-weight: 500;
	text-transform: uppercase;
}
.slide_content span{
	padding: 0 12px;
}

.butt_prev{
    left: -5%;
}
.butt_next{
	left: 7%;
}
.butt_prev,.butt_next{
align-items: end;
}
.slide_prev,.slide_next{
	background-image: none;
	font-size: 16px;
	color: #333333;
	text-transform: uppercase;
}
.slide_prev:hover,.slide_next :hover{
	color:#333333 ;
}
/*banner ends*/
/*Service starts*/
.service{}
.c_head{
}
.top_arrow{
	width: 2px;
	height: 50px;
	background-color: #333333;
	display: inline-block;
}
.c_h1{
	font-family:'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color:#333333;
	text-transform: uppercase;
}
.s_desc{
	margin-top: 20px;
}
.s_single{
	margin: 80px 0;
	border: 1px solid #8e8e8e;
	padding: 60px 15px 30px;
	text-align: center;
}

.s_single h2{
	margin: 30px 0 15px;
	font-family:'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color:#333333 ;
	text-transform: uppercase;
}
.s_single hr{
	width: 50px;
	margin: 10px auto;
}
.s_single p{
	    margin-bottom: 30px;
}
.s_single a{
	text-decoration: none;
	color:#8e8e8e ;
	text-transform: uppercase;
}
.s_single span{
	margin-left: 10px;
}
.s_icon{
	margin: -83px auto 0;
	background-color: white;
	width: 70px;	
}
.s_icon i{
	font-size: 60px;
}
.s_single:hover  {
	border-color:#333333 ;
}
.s_single:hover .ser_hov {
	color: #333333;
	}
/*Service End*/

/*About Start*/
	.about{}
	.about_content{
		margin-left: 80px;
	}
	.about_content h1{
	font-family:'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color:#333333 ;
	text-transform: uppercase;
	}
	.about_p1{
		margin: 35px 0;
	}
	.about_p2{
		margin-bottom: 40px;
	}
	.about_content a{
		padding: 10px 20px;
		border: 1px solid black;
		color: #333333;
		text-decoration: none;
		text-transform: uppercase;
	}

.about_content span{
	margin-left: 17px;
}
/*about end*/

/*Portfolio Start*/
.portfolio{
	margin-top: 100px;
	padding-bottom: 100px;
	background-color: #f8f8f8;
}

/*single portfolio start*/
.p_mb{
	margin-bottom: 60px;
}
.port_menu{}
.port_menu ul{}
.port_menu li{
	padding: 6px 6px;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: .4s;
}
.port_menu li:hover{
	color: #333333;
	border:  1px solid #333333;
}
.portfo_single{
	margin-top: 30px;
	width: 350px;
	height: auto;
	position: relative;
}
.overlay{
	width: 100%;
	height: 100%;
	/*background-color: #8e8e8e;*/
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	/*transition: .5s;*/
}
.zoom_icon{
	width: 100%;
    height: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom_icon i{
	font-size: 60px;
	color: #ffffff;
}
.portfo_text{
	padding: 15px 30px;
    width: 100%;
    height: 21%;
    background-color: #ffffff;
}
.portfo_text h3{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.portfo_text p{
	margin: 0;
}

.overlay:hover {
	width: 100%;
	opacity: 1;
}

/*portfolio end*/

/*Why Choose Start*/

.choose {
   
}
.ch_icon i {
    font-size: 48px;
   
}
.ch_title {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  
}

.why_desc p {
    margin: 30px 0;
}
.ch_bor{
	margin-bottom: 20px;
	width: 100%;
	height: 1px;
	background-color: #8e8e8e;
}
.choose_sin:hover .ch_hov{
	color: #333333;
}
.choose_sin:hover .ch_bor{
	background-color: #333333;
}
/*Work With Start*/
.workwith{
	background-image: url(../images/workwith.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: center;

}
.work_content{
	position: relative;
	padding-bottom: 90px;
}
.work_content img{
	width: 100%;
}
.work_title{
	background-color: white;
	padding: 10px 0 10px 20px;
	
	
}
.work_title h2{
	margin: 0;

	font-family:'Lato', sans-serif ;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.work_title p{
	margin: 0;
}
.overlay_work{
	background-color: white;
	position: absolute;
	top: 12%;
	left: 0;
	opacity: 0;

}
.overlay_work ul li{
	list-style: none;
}
.overlay_work ul li a{
	text-decoration: none;
}
.overlay_work ul li a i{
	font-size: 22px;
    padding: 8px 8px;
    color: #8e8e8e;
}
.work_content:hover .overlay_work{
	opacity: 1;
}
/*Work With End*/


